<%- include("partials/header.ejs") %>

<div class="section fancy-background">
  <div class="glass-box about-container">
    <h2 class="about-title">About Me</h2>
    <p class="about-description">
      Hello! I'm <strong>Siddharth Shrivastava</strong>, a B.Tech student at Vellore Institute of Technology,
      driven by a passion for computer science and engineering. I love solving problems, building impactful
      projects, and continuously exploring new technologies that shape the future.
    </p>

    <div class="social-links">
      <a href="https://www.linkedin.com/in/siddharth-shrivastava-50703b252/" target="_blank" class="social-icon linkedin" title="LinkedIn">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="https://github.com/your-username" target="_blank" class="social-icon github" title="GitHub">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://twitter.com/your-username" target="_blank" class="social-icon twitter" title="Twitter">
        <i class="fab fa-twitter"></i>
      </a>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>
