<%- include("partials/header.ejs") %>

<div class="section fancy-background">
  <div class="glass-box about-container">
    <h2>Projects</h2>
    <p>Here are some of the projects I've worked on...</p>
    <ol>
      <li>
        <strong>TUMOR DETECTION PROJECT</strong>
        <p>Developed an image-based diagnostic system combining SVM for organ classification and CNN for tumor
          detection. Achieved high accuracy in distinguishing brain and lung MRI images and detecting benign vs.
          malignant tumors, demonstrating strong potential for early cancer diagnosis.</p>
        <img src="/images/image.png" alt="Tumor Detection Project Image"> 
      </li>
      <li>
        <strong>ATTENDANCE MONITORING SYSTEM</strong>
        <p>The biometric attendance scanner leveraging IOT technology offers a promising solution for efficient and
          precise attendance management. It enhances efficiency by eliminating manual tracking, reducing paper-
          work, and saving time for employees and administrators alike.</p>
        <img src="/images/iot.png" alt="Attendance Monitoring System Image">
      </li>
    </ol>
  </div>
</div>

<%- include("partials/footer.ejs") %>
